<h2> Full Results for assessment: {{assessment.title}}</h2>

<h3>Concern: {{concern}}</h3>

<p>
	{{text.nar}}
</p>


<ul>
	<li>{{text.bul1}}</li>
	<li>{{text.bul2}}</li>
</ul>

<!--<div ng-if="assessment.quiz_id === 'posi'">
    Stress
</div>
<div ng-if="assessment.quiz_id === 'ebi' || assessment.quiz_id === 'bia'">
    Body Image/Eating Behaviors
</div>
<div ng-if="assessment.quiz_id === 'bdsi'">
    Depression
</div>
<div ng-if="assessment.quiz_id === 'basi'">
    Anxiety
</div>-->

<!--For testing purposes TODO (jcd 12/21) replace with above for dynamic content visibility-->
<div ng-if="true">
    Stress
</div>
<div ng-if="true">
    Body Image/Eating Behaviors
</div>
<div ng-if="true">
    Depression
</div>
<div ng-if="true">
    Anxiety
</div>