<section id="mycontainer">
    <section id="hero">
        <div class="container">
            <div class="text-box">
                <div class="hero_logo">
                    <img src="assets/logo.png" alt="">
                </div>
                <h1>Learn how to improve your Life NOW</h1>
                <h2>Take our Assessments to find out if you’re Ready to Change.</h2>
                <h2>Assessments and summative reports developed by top psychologists from around the country.</h2>
            </div>

            <div class="row">
                <div class="square_row">
                    <div class="col-sm-3">
                        <div class="square purple_square">
                            <h3>Explore</h3>
                            <p>There is nothing permanent in life Except Change. See if you’re ready</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="square green_square">
                            <h3>Learn</h3>
                            <p>What’s keeping you stuck</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="square blue_square">
                            <h3>Improve</h3>
                            <p>Overall wellness and health. Wellness is not a “quick fix” but a way of living.</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="square start_square"></div>
                        <h3>Improve</h3>
                        <p>Overall wellness and health. Wellness is not a “quick fix” but a way of living.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <nav id="navi">
        <div class="navi_logo">
            <a ui-sref="home">
                <img src="../assets/logo.png" alt="" class="logo" />
            </a>
        </div>
        <div class="navibar">
            <ul>
                <li>
                    <a href="#">Our Program</a>
                </li>
                <li>
                    <a href="#">Benefits</a>
                </li>
                <li>
                    <a href="#">Courses</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>

    <section id="greybox">
        <div class="content">
            <div class="title">
                <div class="col-md-12">
                    <h1 class="program">Our Program</h1>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <hr>
                </div>
                <h2>Assessments, Summative reports and Learning Modules</h2>
                <h2>Wellness is a process. Find out where you’re at and how to change.</h2>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1 list_pic">
                    <img src="assets/journaling.jpeg" alt="">
                </div>
                <div class="col-md-5 bullets">
                    <ul>
                        <li>Increase Your Awareness of what’s keeping you stuck</li>
                        <li>Evidenced based strategies to help you overcome self-defeating behaviors</li>
                        <li>Increase your overall sense of well-being</li>
                        <li>Do something NOW</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="bubbles">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="benefits">Benefits</h1>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <hr>
                </div>
                <div class="col-md-5 col-md-offset-1 left_text">
                    <h1 class="blue">Change Your Life</h1>
                    <blockquote>
                        “Yesterday I was clever, so I wanted to change the world. Today I am wise, so I am changing myself.” ― Rumi
                    </blockquote>
                    <p>Change is hard but it is doubly hard if we aren’t ready to change. Take the LifeFit Change assessment and see what stage of change you are in. Our summative report will tell you the stage and what that means to your change process.
                        For optimal health and wellness we need to keep moving. Learn strategies that will help you move into the ACTION stage of change and stay there.
                    </p>
                </div>
                <div class="col-md-5 right_pic">
                    <img src="assets/cliff.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1 left_pic">
                    <img src="assets/smile.png">
                </div>
                <div class="col-md-5 right_text">
                    <h1 class="blue">Imporve Well-Being</h1>
                    <p>Emotional Well-being describes a positive way of thinking, feeling and behaving. It contributes to our overall health and enjoyment of life. Well-being allows people to realize their full potential, relate to others in a meaningful
                        way, cope with the stresses of life, and contribute to their communities. Mood disorders such as anxiety, depression and addictive thinking patterns are associated with a decrease in emotional well-being and positive mental health.
                        Take our LifeFit assessments to see if you have challenges in any of these areas. Our learning modules will then provide exercises and strategies to help you change.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-md-offset-1 left_text">
                    <h1 class="blue">Be Happy with YOU</h1>
                    <p>Stop feeding the negativity about yourself physically. Change for the better. Take our Lifefit assessments and see what challenges you may have with body image, stress and emotional eating. These can significantly impede your happiness
                        and feelings of confidence. Our learning modules will then provide the tools you need to feel better about you.</p>
                </div>
                <div class="col-md-5 right_pic">
                    <img src="assets/bird.png">
                </div>
            </div>
        </div>
    </section>
    <section id="hero_two">
        <div class="hero_pic">
            <h1>Assessments and Learning Modules based on</h1>
            <h2>the latest research</h2>
            <h3>and positive psychological strategies.</h3>
        </div>
    </section>
    <section id="assessments">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="course">Courses</h1>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <hr>
                </div>
                <div class="col-md-5 col-md-offset-1 left">
                    <div class="chunk">
                        <h1>LifeFit - Change</h1>
                        <p>Life does not get better by chance or inaction, it gets better because we change.
                            <br />
                            <br /> Change is a complex process that is thought of in terms of stages. The stages represent specific groupings of attitudes, beliefs, intentions, and behaviors related to an individual’s readiness in the cycle of change. In order
                            to change behavior or thoughts, you have to be in the correct stage of change – the action stage or nothing will happen. The LifeFit Change Assessment and comprehensive report provides individuals with information on what Stage
                            of Change they are in and material on how to move from one Stage of Change to the next.
                        </p>
                    </div>
                    <div class="chunk">
                        <h1> LifeFit - Well Being</h1>
                        <p>Research has shown that to be productive, happy, and dynamic in your career, relationships, or life in general, it is essential to have good emotional health. The LifeFit well being assessment and comprehensive report contains
                            a description of your readiness to change, emotional well-being (anxiety and depression scales) and the prevalence of stress in your life. All of these factors are important in all areas of life to help you thrive and be successful.
                            It is important to know if you have any deficiencies and to be aware of what these might be. By Reviewing the results of this assessment and taking advantage of the provided resources you will begin leveraging your strengths
                            and removing any roadblocks to your success.</p>
                    </div>
                    <div class="chunk">
                        <h1>LifeFit - Body</h1>
                        <p>The more we focus on positive emotions, the more creative, happy and productive we are. Several studies have shown that a positive psychological state enhances one’s ability to lose weight and promotes a healthier lifestyle and
                            overall well being. The Lifefit Body assessment tool, comprehensive report and modules have been developed to help you enhance your health and fitness. Areas such as body image, prevalence of stress in your life, emotional
                            well-being, and eating behaviors are measured. The ASA-BodyFit modules have been created by mental health and fitness experts to provide you with tips and exercises to help you not only change to be more healthy physically
                            but emotionally as well.</p>
                    </div>
                    <div class="chunk">
                        <h1>LifeFit - ADD</h1>
                        <p>We are in an addicted world – from internet and social media, to drugs, alcohol, gaming, eating and exercising. If we don’t change our addictive thinking patterns, we go from one addition to the next. The LifeFit Addictive thinking
                            assessment and comprehensive report will give you information on your Readiness to Change and addictive thinking patterns. The ASA-Addictive thinking modules have been created to give you timely and insightful information to
                            help you MOVE if you are stuck but also to see yourself in a more positive way. You will begin to identify your strengths instead of weaknesses and leverage them to a greater sense of well-being.</p>
                    </div>
                </div>
                <div class="col-md-5 right">
                    <div class="chunk">
                        <h1>Change</h1>
                        <blockquote>
                            “When people are ready to, they change. They never do it before then, and sometimes they die before they get around to it. You can't make them change if they don't want to, just like when they do want to, you can't stop them.” ― Andy Warhol, Andy Warhol
                            in His Own Words
                        </blockquote>
                        <p>This assessment will give you information on what stage of change your are in. Our Learning Modules will then provide strategies to help you move from one stage of change to the other. Don’t stay stuck in the same old habits. CHANGE!!</p>
                    </div>

                    <div class="chunk">
                        <h1>Depression</h1>
                        <p>Depression is the most common psychological disorder and affects mood, thoughts, feelings, behavior, and overall health and well-being. Depression goes far beyond just feeling sad, “down” or “blue” for a few days; it is a period
                            of prolonged sadness, feeling down, loss of energy and motivation and often entails feeling hopeless. This assessment will provide information on depressive symptoms that you may have and help to overcome these.</p>
                    </div>
                    <div class="chunk">
                        <h1>Body Image / Emotional Eating</h1>
                        <p>A poor body image can lead to emotional distress, low self-esteem, unhealthy dieting and exercise habits, anxiety, depression, and eating disorders. Developing a positive body image and a healthy mental attitude is crucial to happiness
                            and wellness. Poor body image can lead to emotional eating and emotional eating can lead to poor body image. If you think you may have a problem with either one of these, this assessment is for you. Tips and strategies to help
                            improve your body image are provided.</p>
                    </div>
                    <div class="chunk">
                        <h1>Stress</h1>
                        <p>Stress is an everyday fact of life. No one can avoid it. No one can hide from it. Stress can happen in almost any situation, ranging from the negative extreme of actual physical danger or harm to the exhilaration of falling in
                            love or achieving some long-desired success. Stress affects not only our mental well-being but physical as well. In fact, an estimated 75 - 90 percent of all visits to primary care physicians are for stress related problems!
                            This questionnaire assesses what your stress level is and how to overcome self-defeating behaviors. </p>
                    </div>
                    <div class="chunk">
                        <div class="start">
                            <a ui-sref="menu" class="btn btn-primary btn-xlg">Get Started</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="footer">
        <div class="navi_logo_foot">
            <a ui-sref="home">
                <img src="../assets/logo.png" alt="" class="logo" />
            </a>
        </div>
        <div class="navibar_foot">
            <ul>
                <li>
                    <a href="#">Our Program</a>
                </li>
                <li>
                    <a href="#">Benefits</a>
                </li>
                <li>
                    <a href="#">Courses</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </section>


</section>
