<section class="mycontainer">

    <nav class="navbar">
        <div class="container-fluid">
            <div class="nav navbar-header">
                <a ui-sref="home">
                    <img src="../assets/logo.png" alt=""  class="logo"/>
                </a>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#how_it_works">How it works</a>
                    </li>
                    <li>
                        <a href="#">Our Assessments</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <div class="navbar-btn">
                            <a ui-sref="menu" class="btn btn-primary pull-right" role="button">Take Quiz</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="jumbotron">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
        </div>
    </section>

    <section class="container-fluid">
        <h1 id="how_it_works">How it Works</h1>
        <p>Bacon ipsum dolor amet flank t-bone swine sausage chuck pork chop, tenderloin jerky pork belly. Hamburger shank pork loin pork belly t-bone tail, short loin pig. Doner salami corned beef leberkas ribeye. Ham swine turkey kielbasa shoulder sirloin
            drumstick picanha landjaeger jerky cow. Pork chop kevin tongue, shank prosciutto doner ground round meatball sausage. Pork chop bresaola leberkas alcatra ribeye brisket venison, beef flank kielbasa andouille. Spare ribs filet mignon ham fatback
            frankfurter. Bacon ipsum dolor amet flank t-bone swine sausage chuck pork chop, tenderloin jerky pork belly. Hamburger shank pork loin pork belly t-bone tail, short loin pig. Doner salami corned beef leberkas ribeye. Ham swine turkey kielbasa
            shoulder sirloin drumstick picanha landjaeger jerky cow. Pork chop kevin tongue, shank prosciutto doner ground round meatball sausage. Pork chop bresaola leberkas alcatra ribeye brisket venison, beef flank kielbasa andouille. Spare ribs filet
            mignon ham fatback frankfurter.</p>

        <h1>Our Assesments</h1>
        <p>Bacon ipsum dolor amet flank t-bone swine sausage chuck pork chop, tenderloin jerky pork belly. Hamburger shank pork loin pork belly t-bone tail, short loin pig. Doner salami corned beef leberkas ribeye. Ham swine turkey kielbasa shoulder sirloin
            drumstick picanha landjaeger jerky cow. Pork chop kevin tongue, shank prosciutto doner ground round meatball sausage. Pork chop bresaola leberkas alcatra ribeye brisket venison, beef flank kielbasa andouille. Spare ribs filet mignon ham fatback
            frankfurter. Bacon ipsum dolor amet flank t-bone swine sausage chuck pork chop, tenderloin jerky pork belly. Hamburger shank pork loin pork belly t-bone tail, short loin pig. Doner salami corned beef leberkas ribeye. Ham swine turkey kielbasa
            shoulder sirloin drumstick picanha landjaeger jerky cow. Pork chop kevin tongue, shank prosciutto doner ground round meatball sausage. Pork chop bresaola leberkas alcatra ribeye brisket venison, beef flank kielbasa andouille. Spare ribs filet
            mignon ham fatback frankfurter.</p>

        <h1>About Us</h1>
        <p>Bacon ipsum dolor amet flank t-bone swine sausage chuck pork chop, tenderloin jerky pork belly. Hamburger shank pork loin pork belly t-bone tail, short loin pig. Doner salami corned beef leberkas ribeye. Ham swine turkey kielbasa shoulder sirloin
            drumstick picanha landjaeger jerky cow. Pork chop kevin tongue, shank prosciutto doner ground round meatball sausage. Pork chop bresaola leberkas alcatra ribeye brisket venison, beef flank kielbasa andouille. Spare ribs filet mignon ham fatback
            frankfurter. Bacon ipsum dolor amet flank t-bone swine sausage chuck pork chop, tenderloin jerky pork belly. Hamburger shank pork loin pork belly t-bone tail, short loin pig. Doner salami corned beef leberkas ribeye. Ham swine turkey kielbasa
            shoulder sirloin drumstick picanha landjaeger jerky cow. Pork chop kevin tongue, shank prosciutto doner ground round meatball sausage. Pork chop bresaola leberkas alcatra ribeye brisket venison, beef flank kielbasa andouille. Spare ribs filet
            mignon ham fatback frankfurter.</p>

    </section>

    <section class="footer">

    </section>


</section>
