<div class="mycontainer">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="nav navbar-header">
                <a ui-sref="home">
                    <img src="../assets/logo.png" class="logo" alt="" />
                </a>
            </div>
        </div>
    </nav>

    <div>
        <div>
            <ul>
                <div ng-repeat="assessment in list">
                    <div ng-if="!assessment.completed">
                        <a ng-click="getAssessment(assessment)">{{ assessment.title }}</a>
                    </div>
                    <div ng-if="assessment.completed">
                        {{assessment.title}} 
                        <a ui-sref="fullResults({assessment_id: assessment.completed})">(view results)</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>

</div>