<div class="mycontainer">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="nav navbar-header">
                <a ui-sref="home">
                    <img src="../assets/logo.png" alt="" class="logo" />
                </a>
            </div>
        </div>
    </nav>
    <section class="container">
        <h1>Choose the assessment right for you</h1>
        <ul class="list-group">
            <li class="list-group-item">Readiness to Change
                <span class="pull-right">
                     Free <input type="checkbox" ng-model="assessments.free.selected"></span>
            </li>
            <li class="list-group-item"> Eating Behaviors / Body Image
                <span class="pull-right">
                    $7.99 <input type="checkbox" ng-model="assessments.eating.selected"></span>
            </li>
            <li class="list-group-item">Stress
                <span class="pull-right">
                    $7.99 <input type="checkbox" ng-model="assessments.stress.selected"></span>
            </li>
            <li class="list-group-item">Depression
                <span class="pull-right">
                    $7.99 <input type="checkbox" ng-model="assessments.depression.selected"></span>
            </li>
            <li class="list-group-item">Anxiety
                <span class="pull-right">
                    $7.99 <input type="checkbox" ng-model="assessments.anxiety.selected"></span>
            </li>
            <li class="list-group-item pull-right">Total ${{ total() }}</span>
            </li>
        </ul>
        <br>
        <br>
        <button type="button" class="btn btn-primary pull-right" ng-click="checkout(assessments)">Check Out</button>
    </section>
</div>
