<div class="container">
    <div>
        <h3>Stage</h3>
        <p>{{results.stage}}</p>
    </div>
    <div>
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>

    <h3> Readiness to Change </h3>
    <br />
    
    <div ng-if="results.stage === 'precontemplation'">
        Precontemplation
    </div>
    <div ng-if="results.stage === 'contemplation'">
        Contemplation
    </div>
    <div ng-if="results.stage === 'preparation'">
        Preparation
    </div>
    <div ng-if="results.stage === 'action'">
        Action
    </div>
    <div ng-if="results.stage === 'maintenance'">
        Maintenance
    </div>
    
</div>